.get-started.container {
	padding-top: 80px;
	padding-bottom: 80px;
	.section-title {
		margin-bottom: 32px;
		font-weight: 600;
		@include media-breakpoint-down(md) {
			font-size: 19px;
		}
	}
	.get-started-card {
		border: 1px solid #e8eaeb;
		border-radius: 2px;
		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
		}
		img {
			width: 125px;
			@include media-breakpoint-down(md) {
				width: 133px;
			}
		}
		h5 {
			margin-top: 32px;
			margin-bottom: 22px;
			font-weight: 600;
			@include media-breakpoint-down(md) {
				font-size: 18px;
			}
		}
		p {
			line-height: 28px;
			color: #8898aa;
		}
		a {
			margin-top: 22px;
			font-weight: 600;
			color: #045cc7;
		}
	}
}
