.start-buying-wrapper {
	font-family: 'Open Sans', sans-serif;
	margin-top: 5rem;
	margin-bottom: 5rem;
	@include media-breakpoint-down(md) {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.start-buying-title {
		font-weight: 600;
		font-size: 28px;
		margin-bottom: 2rem;
		@include media-breakpoint-down(xs) {
			font-size: 24px;
		}
	}
	.start-buying-email-wrapper {
		input {
			@include media-breakpoint-down(xs) {
				outline: none;
				box-shadow: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				max-height: 42px;
				line-height: 1.5;
			}
		}
		@include media-breakpoint-down(xs) {
			padding: 0;
		}
	}
	.btn-outline-success {
		color: #fff;
		border-color: #fff;
		&:hover {
			border-color: $success;
		}
		@include media-breakpoint-down(xs) {
			outline: none;
			box-shadow: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			max-height: 42px;
			line-height: 1.5;
		}
	}
	.status-message {
		position: absolute;
		width: 100%;
	}
}
